{
    "env": {
        "es2020": true,
        "browser": true,
        "jest/globals":true
    },
    "extends": [
        "airbnb",
        "airbnb/hooks",
        "plugin:jest/recommended"
    ],
    "parserOptions": {
        "ecnaVersion":12
    },
    "rules": {
        "quotes": ["error", "single"],
        "react/prop-types": [0],
        "jsx-a11y/click-events-have-key-events": [0],
        "jsx-a11y/no-noninteractive-element-interactions": [0]

    },
    "parser": "babel-eslint",
    "plugins": ["jest"]

  }