{
    "env": {
        "es2020": true,
        "browser": true
    },
    "extends": [
        "airbnb",
        "airbnb/hooks"
    ],
    "parserOptions": {
        "ecnaVersion":12
    },
    "rules": {
        "quotes": ["error", "single"]
    },
    "parser": "babel-eslint"

  }